#app{
    max-width: 100ch;
    padding: 1ch;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 100%;
    text-align: left;
    border: 2px blue;
}

thead{
    border-bottom: 2px black;
    text-transform: uppercase;
}

tbody{
    background-color: bisque;
}

th,
td{
    border: 1px dashed #aaa;
    padding: 0.5ch
}

tbody tr:nth-child(odd){
    background: #f0f0f0 ;
}



